header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .header__title {
    display: flex;
    justify-content: center;
    background-color: $gray-200;
    padding: 1rem;
    .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .header__title-home {
        text-align: center;
        background-color: $white;
        h1 {
          color: $blue;
          cursor: pointer;
          @include transition(0.5s);
          font-weight: 800;
          opacity: 0.6;
          &:hover {
            color: $gray-900;
          }
        }
      }
      .header__title-lists {
        ul {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          color: $gray-600;
          li {
            cursor: pointer;

            @include transition(0.5s);
            &:nth-child(3) {
              color: $purple;
            }
            &:nth-child(4) {
              position: absolute;
              right: 30px;
            }

           
          }
        }
      }
    }
  }
  .navbar {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      .navbar__search {
        grid-column: span 12;
        width: 90%;
      }
      .navbar__user {
        grid-column: span 12;
        display: flex;
        justify-content: center;
        gap: 3rem;
        .icon {
          font-size: 1.8rem;
          cursor: pointer;

          &:nth-child(1) {
            color: $purple;
          }
          &:nth-child(2) {
            color: $gray-600;
          }
          &:nth-child(3) {
            color: $gray-600;
          }
        }
      }
    }
  }
}
